<footer id="footer">
  <hr>
  <div id="navigation">
    <span class="navitem"><a href="/about.html" title="About Enrique Canals">About</a></span> |
    <span class="navitem"><a href="/" title="Enrique Canals' Archive">Archive</a></span> |
    <span class="navitem"><a href="/resume.html" title="Enrique Canals' Resume">Resume</a></span> |
    <span class="navitem"><a href="http://github.com/enriquecanals" title="github profile" target="_new">GitHub</a></span> |
    <span class="navitem"><a href="http://twitter.com/ecanals" title="twitter profile" target="_new">Twitter</a></span> |
    <span class="navitem"><a href="http://www.rdio.com/people/ecanals" title="rdio profile" target="_new">rdio</a></span>
  </div>
  <div id="footer-info">
    <p>&copy{{ site.time | date: "%Y" }} <a href="/" title="enriquecanals.com">{{ site.title }}</a></p>
  </div>
</footer>
